/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.task-manager {
  max-width: 400px;
  margin: 50px 50px;
  background-color: #fff;
  padding: 50px;
  border-radius: 8px;
  border: 1px solid black;  
}

h1 {
  text-align: center;
  color: #333;
}

.task-form {
  display: flex;
  margin-bottom: 20px;
}

.task-form input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.task-form button {
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.task-form button:hover {
  background-color: #45a049;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-item input[type="checkbox"] {
  margin-right: 10px;
}

.task-item button.delete-button {
  margin-left: auto;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.task-item button.delete-button:hover {
  background-color: #e53935;
}

.task-item span.completed {
  text-decoration: line-through;
  color: #aaa;
}

p {
  text-align: center;
  color: #888;
}